:focus {
  outline: none;
}

body {
  background: linear-gradient(90deg, #fad13b 0%, #e55b19 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.search-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.search-container input {
  background-color: #ffffff59;
  border-bottom: #e55b19 2px solid;
  border: none;
}

.search-container input, .search-container ul li {
  padding: 1vw;
  width: 20vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 30vh;
}

ul li {
  border: none;
  background-color: #ffffff59;
}

ul li:hover {
  background-color: #df6b367c;
}
